USE [master]
GO
/****** Object:  Database [AppWrkDb]    Script Date: 10-09-2020 08:19:57 ******/
CREATE DATABASE [AppWrkDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppWrkDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AppWrkDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AppWrkDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AppWrkDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppWrkDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppWrkDb]
GO
/****** Object:  Table [dbo].[CashInOut]    Script Date: 10-09-2020 08:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashInOut](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[transacionType] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[dtCreated] [datetime] NOT NULL,
	[RunningBalance] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CashInOut] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CashInOut] ON 

INSERT [dbo].[CashInOut] ([Idx], [Amount], [transacionType], [Description], [dtCreated], [RunningBalance]) VALUES (1, CAST(5000 AS Decimal(18, 0)), 2, N'Petty Cash', CAST(N'2020-09-10 08:16:10.030' AS DateTime), CAST(5000 AS Decimal(18, 0)))
INSERT [dbo].[CashInOut] ([Idx], [Amount], [transacionType], [Description], [dtCreated], [RunningBalance]) VALUES (2, CAST(1500 AS Decimal(18, 0)), 1, N'Snack Party', CAST(N'2020-09-10 08:18:16.513' AS DateTime), CAST(3500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CashInOut] OFF
USE [master]
GO
